.root {
  position: absolute;
  left: 204px;
  top: -93px;
  width: 53px;
  height: 40px;
  align-items: flex-start;
  overflow: hidden;
}
.union1 {
  position: absolute;
  left: 29.1667%;
  right: 29.1667%;
  top: 25%;
  bottom: 25%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
